h1 {
	text-align: center;
	text-decoration: underline;
}

a {
	font-size: 170%;
	text-decoration: none;
	color: blue;
}

form {
	text-align:center;
    font-size: 190%;
}

body {
	background-image: url("https://img.freepik.com/free-photo/cement-wall-floor-copy-space_53876-30237.jpg");
	background-size: cover;
}

div {
	text-align: center;
}

img {
	float: middle;
}